*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common class */
.clear::after{
    content: "";
    clear: both;
    display: block;
}

.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.mid-container{
    max-width: 1152px;
    margin: 0 auto;
}

img{
    max-width: 100%;
    height: auto;
}

body, h1, h2, h3, h4, h5, h6, p, a, span{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Header Section */

.header{
    padding: 20px 0;
    position: sticky;
    top: 0;
    background: #fff;
    border-bottom: 1px solid #F7F9FF;
}

section .container{
    max-width: 1152px;
    margin: 0 auto;
}

section .logo{
    width: 20%;
    font-size: 20px;
}

section .nav{
    width: 65%;
}

section .nav ul{
    margin-top: 12px;
}

section .nav ul li{
    list-style-type: none;
    display: inline-block;
    margin: 0 20px;
}

section .nav ul li a{
    text-decoration: none;
    display: block;
    color: black;
    font-size: 20px;
    font-weight: 600;
}

/* section .nav ul li a:hover{
    color: skyblue;
    border: 2px solid navajowhite;
} */

section .button{
    width:15%;
    margin-top: 15px;
}

section .button a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
    border: 2px solid skyblue;
    border-radius: 5px;
    padding: 10px 40px;
}

section .button a:hover{
    background: tomato;
    color: #fff;
}

/* Dropdown */

section .nav ul li{
    position: relative;
}

section .nav ul li ul{
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    width: 300px;
    line-height: 3;
    padding: 0;
    visibility: hidden;
    transition: 0.1s;
}

section .nav ul li:hover ul{
    visibility: visible;
}

/* Banner Section */

.banner{
    /* background-image: url(../images/mbr-4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
    background: linear-gradient(90deg, rgba(131,58,180,1) 24%, rgba(29,150,253,0.9472163865546218) 51%, rgba(233,197,145,1) 100%);
    padding: 200px 0;
    color: #FFF;
}

.banner-text h3{
    font-size: 30px;
    font-weight: 500;
}

.banner-text h1{
    font-size: 60px;
    font-weight: 800;
    line-height: 3;
}

.banner-text a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 20px 45px;
    background: #fff;
    border-radius: 10px;
    margin: 0 10px;
    transition: 0.3s;
}

.banner-text a:hover{
    background: tomato;
    color: #fff;
}

/* video */

.video{
    padding: 136px 0;
    background: #F7F9FF;
}

.yvideo{
    padding:0 150px;
}

.video-app{
    padding:0 50px;
}

.video-app h1{
    font-size: 50px;
    font-weight: 400;
    padding-right: 90px;
    margin-bottom: 40px;
}

.video-app p{
    font-size:20px ;
    text-align: justify;
    line-height: 2;
}

/* learn */

.learn{

}

.learn h1{
    font-size: 60px;
    line-height: 2.5;
    margin-top: 80px;
}

.learn h2{
    font-size: 30px;
    font-weight: 300; 
    margin-bottom: 60px;
}

.tm{
    padding: 50px 200px;
}

.box1{
    width: 30%;
    padding: 30px;
    box-shadow: 5px 5px 15px 5px #F2F2F2;
    margin: 0 20px;
    
}

.box1 h3{
        font-size: 30px;
        line-height: 4;
}

.box1 p{
    padding: 0 50px;
    font-weight: 400;
    font-size: 25px;
    line-height: 2;
}

.box1 .icon{
    margin-right: 23px;
    color: steelblue;
    font-size: 40px;
}

/* Price */

.price{
    background-color:#F7F9FF;;
    height: 1200px;
}

.price h1{
    font-size: 60px;
    line-height: 2.5;
    margin-top: 80px;
}

.price h2{
    font-size: 30px;
    font-weight: 300; 
    margin-bottom: 60px;
}

.buy{
    width: 30%;
    box-shadow: 5px 5px 15px 5px #F2F2F2;
    margin-right: 35px;
    background-color: #fff;
}
.free{
    padding-left: 30px;
    border-bottom: 1px solid #DDDDDD;
    margin-bottom: 42px;
    margin-top: -10px;
}

.free h1{
    font-size: 25px;
    font-weight: 400;
    margin-top: 10px;
}

.free h2{
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 10px;
}

.free h3{
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 20px
}

.free p{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 25px;
}

.list{
    margin-bottom:30px;
}

.list ul{
    list-style-type: none;
}

.list li{
    font-size: 20px;
    line-height: 4;
    padding-left: 22px;
}

.list li i{
    color: skyblue;
    padding: 0 20px;
}

.buybtn{
    margin-top: 40px;
    margin-bottom: 60px;
}

.buybtn  a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 20px 45px;
    background: #fff;
    border-radius: 10px;
    margin: 0 10px;
    transition: 0.3s;
    box-shadow: 5px 5px 15px 5px #F2F2F2;
}

.buy:hover a{
    background: tomato;
    color: #fff;
}

.buy:hover .free{
    background: tomato;
    color: #fff;
}


